<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello World!</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <p th:text="|User: ${#authentication.getName()} are logged in|"></p>
</div>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<p th:text="|Name: ${#authentication.getName()}|"></p>
<p th:text="|Role: ${#authentication.authorities}|"></p>
<p sec:authorize="hasRole('ROLE_USER')">
    Role: USER
</p>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    Role: ADMIN
</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</body>
</html>